SERVER_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=
#Prod Keys
frontDir=/var/www/html
backDir=/var/www/html/efg/backend
sslDir=/var/www/ssl
verificationDir=/var/www/validation
# DATABASE_URL=postgresql://postgres:senha@db.hash.supabase.co:5432/postgres
DATABASE_URL=postgres://postgres:postgrespassword@db:5432/postgres
